{% extends "zola-grayscale/templates/index.html" %}
{% block navigation %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{{ get_url(path="/") }}#page-top">
            <img src="{{ get_url(path='img/cloudcast-1-black.png') }}" alt="Cloudcast Logo" style="height: 30px; margin-right: 10px;">
            {% block nav_home_title %}{{ config.title }}{% endblock nav_home_title %}
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                {% for item in navigation.item %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.path | safe }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
{% endblock navigation %}

<!-- Test masthead to get logo displayed above title -->
{% block masthead %}
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <img src="{{ get_url(path='img/cloudcast-1-black.png') }}" alt="Cloudcast Logo" style="height: 60px; margin-bottom: 20px;">
                <h1 class="mx-auto my-0 text-uppercase">{{ config.title }}</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">{{ config.description }}</h2>
                <a class="btn btn-primary" href="#about">Get Started</a>
            </div>
        </div>
    </div>
</header>
{% endblock masthead %}

{% block about %}
<!-- About -->
<section class="about-section text-center" id="{% block about_id %}about{% endblock about_id %}">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">{% block about_title %}Expert AWS Cloud Professional Services{% endblock about_title %}</h2>
                <p class="text-white-50">
                    {% block about_description %}
                    Founded in 2024 by Ryan Cast, an engineer that has been building full-time in AWS since 2014, Cloudcast offers services for secure cloud architecture design+implementation, on-prem application migration, and cloud optimization.
                    {% endblock about_description %}
                </p>
            </div>
        </div>
        {% block about_image %}
        <img class="img-fluid" src="{{ get_url(path="assets/img/ipad.png") }}" alt="..." />
        {% endblock about_image %}
    </div>
</section>
{% endblock about %}
{% block projects %}
<!-- Projects-->
<section class="projects-section bg-light" id="{% block projects_id %}projects{% endblock projects_id %}">
    <div class="container px-4 px-lg-5">
        {% block feature_project %}
        <!-- Featured Project Row -->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7">
                {% block feature_project_thumbnail %}
                <img class="img-fluid mb-3 mb-lg-0" src="{{ get_url(path="assets/img/bg-masthead.jpg") }}" alt="...">
                {% endblock feature_project_thumbnail %}
            </div>
            <div class="col-xl-4 col-lg-5">
                {% block feature_project_content %}
                <div class="featured-text text-left text-lg-left">
                    <h4>{% block feature_project_title %}Cloud native platform development{% endblock feature_project_title %}</h4>
                    <p class="text-black-50 mb-0">
                    {% block feature_project_description %}
	            <ul class="text-black-50">
                       <li>Secure, scalable cloud-native application platforms backed by infrastructure as code</li>
                       <li>Continuous integration and continuous delivery pipelines</li>
                       <li>Identity and access management</li> 
	            </ul>
                    {% endblock feature_project_description %}
                    </p>
                </div>
                {% endblock feature_project_content %}
            </div>
        </div>
        {% endblock feature_project %}
        {% block project_1 %}
        <!-- Project One Row -->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6">
                {% block project_1_thumbnail %}
                <img class="img-fluid" src="{{ get_url(path="assets/img/demo-image-01.jpg") }}" alt="...">
                {% endblock project_1_thumbnail %}
            </div>
            <div class="col-lg-6">
                {% block project_1_content %}
                <div class="bg-black text-left h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-left text-lg-left">
                            <h4 class="text-white">{% block project_1_title %}Cloud strategy and migration{% endblock project_1_title %}</h4>
                            <p class="mb-0 text-white-50">
                            {% block project_1_description %}
				<ul class="text-white-50">
                 		    <li>IT architecture modernization and cloud migration planning</li>
                                    <li>Cloud architecture design and implementation</li>
                                    <li>Enterprise hybrid networking</li>
                                    <li>Monitoring, logging, performance tuning</li>
		                </ul>
                            {% endblock project_1_description %}
                            </p>
                        </div>
                    </div>
                </div>
                {% endblock project_1_content %}
            </div>
        </div>
        {% endblock project_1 %}
        {% block project_2 %}
        <!-- Project Two Row -->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6">
                {% block project_2_thumbnail %}
                <img class="img-fluid" src="{{ get_url(path="assets/img/demo-image-02.jpg") }}" alt="...">
                {% endblock project_2_thumbnail %}
            </div>
            <div class="col-lg-6 order-lg-first">
                {% block project_2_content %}
                <div class="bg-black text-left h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-left text-lg-right">
                            <h4 class="text-white">{% block project_2_title %}Cloud optimization{% endblock project_2_title %}</h4>
                            <p class="mb-0 text-white-50">
                            {% block project_2_description %}
				<ul class="text-white-50">
                 	            <li>Workload assessments utilizing the AWS Well-Architected Framework</li>
                                    <li>Cloud cost optimization and FinOps</li>
                                    <li>Engineering services to help apps efficiently scale in all directions</li>
		                </ul>
                            {% endblock project_2_description %}
                        </div>
                    </div>
                </div>
                {% endblock project_2_content %}
            </div>
        </div>
        {% endblock project_2 %}
        {% block extra_projects %}{% endblock extra_projects %}
    </div>
</section>
{% endblock projects %}

{% block signup %}
<!-- Signup -->
<section class="signup-section" id="{% block signup_id%}signup{% endblock signup_id %}">
</section>
{% endblock signup %}
{% block contact %}
<!-- Contact -->
<section class="contact-section bg-black" id="{% block contact_id %}contact{% endblock contact_id %}">
    <div class="container px-4 px-lg-5">
    {% block contact_contact %}
        <div class="row gx-4 gx-lg-5">
            {% for item in contact.contact %}
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas {{ item.icon }} text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">{{ item.name }}</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">
                            {% if item.address %}
                                {{ item.address|safe }}
                            {% elif item.content %}
                                {% if item.name == "PGP" %}
                                    <a href="{{ get_url(path='cloudcast-pgp-key.asc') }}" download>Download PGP Key</a>
                                {% else %}
                                    {{ item.content|safe }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
</div>
{% endblock contact_contact %}

    </div>
</section>
{% endblock contact %}

